@page
@model MumtazWelfare.Pages.NewFolder.AboutModel
@{
}



<section class="about" id="about">

    <h1 class="heading"><span>about</span> us </h1>

    <div class="row">

        <div class="image">
            <img src="images/Mumtaz welfare 6.jpg" alt="">
        </div>

        <div class="content">
            <h3>Equality of opportunity, equitable distribution of wealth, and public Responsibility</h3>
            <p>A social welfare policy, implemented by the government, aims to protect citizens who may be considered poor, unemployed, unhealthy, or marginalized from their community.</p>
            <p>The main goal of social welfare policies is to provide a safety net to those who need support due to situations such as poverty, unemployment, poor health, disability, or other circumstances that we as a society have deemed as requiring outside assistance.</p>
            <h6>Location:   https://maps.app.goo.gl/p5VQ1k3m2LamkcUt8 </h6>
            <a href="#" class="btn">contact us</a>
        </div>

    </div>

</section>