@page
@model MumtazWelfare.Pages.NewFolder.dispensaryModel
@{
}


<h1 class="sadqa mb-58">Medical Dispensary</h1>

<div class="container">
    <div class="row imgcard d-flex gap-4 flex-wrap justify-content-center mb-4">
        <img src="~/GalaryPic/dispensary/dispensary19.jpg" alt=""/>
        <img src="~/GalaryPic/dispensary/dispensary20.jpg" alt="" />
    </div>
    <div class="row imgcard d-flex gap-4 flex-wrap justify-content-center mb-4">
        <div class="card opening"><a href="./opening dispensary">Medical Opening </a></div>
        <img src="~/GalaryPic/dispensary/dispensary17.jpg" alt="2" />
        <img src="~/GalaryPic/dispensary/dispensary16.jpg" alt="1" />
    </div>
    <div class="row imgcard d-flex gap-4 flex-wrap justify-content-center mb-4">
        <img src="~/GalaryPic/dispensary/dispensary18.jpg" alt="1" />
        <video src="~/GalaryPic/dispensary/video14.mp4" controls></video>
    </div>
    <div class="row imgcard d-flex gap-4 flex-wrap justify-content-center mb-4">
        <img src="~/GalaryPic/dispensary/dispensary15.jpg" alt="1" />
        <img src="~/GalaryPic/dispensary/dispensary10.jpg" alt="1" />
        <img src="~/GalaryPic/dispensary/dispensary1.png" alt="2" />
    </div>
    <div class="row imgcard d-flex gap-4 flex-wrap justify-content-center mb-4">
        <img src="~/GalaryPic/dispensary/dispensary2.png" alt="1" />
        <img src="~/GalaryPic/dispensary/dispensary3.png" alt="2" />
        <img src="~/GalaryPic/dispensary/dispensary11.jpg" alt="2" />

    </div>
    <div class="row imgcard d-flex gap-4 flex-wrap justify-content-center mb-4">
        <img src="~/GalaryPic/dispensary/dispensary4.png" alt="1" />
        <img src="~/GalaryPic/dispensary/dispensary5.png" alt="2" />
        <img src="~/GalaryPic/dispensary/dispensary6.png" alt="3" />
    </div>

    <div class="row imgcard d-flex gap-4 flex-wrap justify-content-center mb-4">
        <img src="~/GalaryPic/dispensary/dispensary7.png" alt="1" />
        <img src="~/GalaryPic/dispensary/dispensary8.png" alt="2" />
        <img src="~/GalaryPic/dispensary/dispensary9.png" alt="3" />
    </div>
    <div class="row imgcard d-flex gap-4 flex-wrap justify-content-center mb-4">
        <video src="~/GalaryPic/dispensary/video1.mp4" controls></video>
        <video src="~/GalaryPic/dispensary/video2.mp4" controls></video>
    </div>
    <div class="row imgcard d-flex gap-4 flex-wrap justify-content-center mb-4">
        <video src="~/GalaryPic/dispensary/video3.mp4" controls></video>
        <video src="~/GalaryPic/dispensary/video4.mp4" controls></video>
    </div>
    <div class="row imgcard d-flex gap-4 flex-wrap justify-content-center mb-4">
        <video src="~/GalaryPic/dispensary/video5.mp4" controls></video>
        <video src="~/GalaryPic/dispensary/video6.mp4" controls></video>
    </div>
    <div class="row imgcard d-flex gap-4 flex-wrap justify-content-center mb-4">
        <video src="~/GalaryPic/dispensary/video7.mp4" controls></video>
        <video src="~/GalaryPic/dispensary/video8.mp4" controls></video>
    </div>
    <div class="row imgcard d-flex gap-4 flex-wrap justify-content-center mb-4">
        <video src="~/GalaryPic/dispensary/video9.mp4" controls></video>
        <video src="~/GalaryPic/dispensary/video10.mp4" controls></video>
    </div>
    <div class="row imgcard d-flex gap-4 flex-wrap justify-content-center mb-4">
        <video src="~/GalaryPic/dispensary/video11.mp4" controls></video>
        <video src="~/GalaryPic/dispensary/video12.mp4" controls></video>
    </div>
    <div class="row imgcard d-flex gap-4 flex-wrap justify-content-center mb-4">
        <video src="~/GalaryPic/dispensary/video13.mp4" controls></video>
    </div>
</div>