@page
@model MumtazWelfare.Pages.NewFolder.galleryModel
@{
}



<h1 class="gallery mb-58">Gallery</h1>



<div class="container">
    <div class="row justify-content-center gap-4 flex-wrap mb-3">
		<div class="card makatib"><a href="./Qurani Makatib">Qurani Makatib</a></div>
		<div class="card saqda"><a href="./Sadqa Bakra">Sadqa Bakra</a></div>
        <div class="card food"><a href="./Madarsa Food">Madarsa Food</a></div>
    </div>
    <div class="row justify-content-center gap-4 flex-wrap mb-3">
		<div class="card disp"><a href="./dispensary">Medical Dispensary</a></div>
        <div class="card pump"><a href="./Pump">Pump Installation</a></div>
		<div class="card well"><a href="./Well">Well Installation</a></div>
    </div>
	<div class="row justify-content-center gap-4 flex-wrap mb-3">
		<div class="card rashan"><a href="./Rashan">Monthly Rashan</a></div>
		<div class="card aqeeqa"><a href="">Aqeeqa</a></div>
		<div class="card qurbani"><a href="./Qurbani">Qurbani</a></div>
	</div>
</div>