@page
@model MumtazWelfare.Pages.NewFolder.Madarsa_FoodModel
@{
}



<h1 class="sadqa mb-58">Madarsa Food</h1>

<div class="container">
    <div class="row imgcard d-flex gap-4 flex-wrap justify-content-center mb-4">
        
        <img src="/GalaryPic/food/food9.jpg" alt="2" />
    </div>
    <div class="row imgcard d-flex gap-4 flex-wrap justify-content-center mb-4">
        <video src="~/GalaryPic/food/video9.mp4" controls></video>
        <img src="/GalaryPic/food/food6.jpg" alt="2" />
    </div>
    <div class="row imgcard d-flex gap-4 flex-wrap justify-content-center mb-4">
        <video src="~/GalaryPic/food/video8.mp4" alt="1" />
        <img src="/GalaryPic/food/food7.jpg" alt="2" />
    </div>
    <div class="row imgcard d-flex gap-4 flex-wrap justify-content-center mb-4">
        <img src="/GalaryPic/food/food8.jpg" alt="2" />
        <video src="~/GalaryPic/food/video2.mp4" controls></video>
    </div>

    <div class="row imgcard d-flex gap-4 flex-wrap justify-content-center mb-4">
        <img src="~/GalaryPic/food/food1.jpg" alt="2" />
        <video src="~/GalaryPic/food/video7.mp4" alt="1" />
    </div>

    <div class="row imgcard d-flex gap-4 flex-wrap justify-content-center mb-4">
        <video src="~/GalaryPic/food/video6.mp4" controls></video>
        <img src="~/GalaryPic/food/food.jpg" alt="1" />

    </div>
    <div class="row imgcard d-flex gap-4 flex-wrap justify-content-center mb-4">
        <video src="~/GalaryPic/food/video5.mp4" controls></video>
        <img src="~/GalaryPic/food/food3.png" alt="1" />
        
    </div>
    <div class="row imgcard d-flex gap-4 flex-wrap justify-content-center mb-4">
        <video src="~/GalaryPic/food/video4.mp4" controls></video>
        <img src="~/GalaryPic/food/food4.jpg" alt="1" />
    </div>
    <div class="row imgcard d-flex gap-4 flex-wrap justify-content-center mb-4">
        <img src="~/GalaryPic/food/food5.jpg" alt="2" />
        <video src="~/GalaryPic/food/video3.mp4" controls></video>
    </div>
    <div class="row imgcard d-flex gap-4 flex-wrap justify-content-center mb-4">
        <video src="~/GalaryPic/food/video1.mp4" controls></video>
        <img src="~/GalaryPic/food/food2.jpg" alt="3" />
    </div>
   
</div>