@page
@model MumtazWelfare.Pages.NewFolder.PumpModel
@{
}


<h1 class="sadqa mb-58">Pump Installation</h1>

<div class="container">
    <div class="row imgcard d-flex gap-4 flex-wrap justify-content-center mb-4">
        <h4 class="sadqa mb-58">July 2023</h4>
        <img src="~/GalaryPic/pump/pump8.jpg" alt="1" />
        <video src="~/GalaryPic/pump/video12.mp4" controls></video>
    </div> 
    <div class="row imgcard d-flex gap-4 flex-wrap justify-content-center mb-4">
        <img src="~/GalaryPic/pump/july pump1.jpg" alt="1" />
        <video src="~/GalaryPic/pump/video9.mp4" controls></video>
    </div>

    <div class="row imgcard d-flex gap-4 flex-wrap justify-content-center mb-4">
        <video src="~/GalaryPic/pump/video10.mp4" controls></video>
        <video src="~/GalaryPic/pump/video11.mp4" controls></video>
    </div>

    <div class="row imgcard d-flex gap-4 flex-wrap justify-content-center mb-4">
        <img src="~/GalaryPic/pump/pump7.jpg" alt="1" />
        <img src="~/GalaryPic/pump/july pump2.jpg" alt="1" />
        <img src="~/GalaryPic/pump/pump.jpg" alt="1" />
    </div>
    <div class="row imgcard d-flex gap-4 flex-wrap justify-content-center mb-4">
        <video src="~/GalaryPic/pump/video7.mp4" controls></video>
        <img src="~/GalaryPic/hand pump.jpg" alt="1" />
        
    </div>

    <div class="row imgcard d-flex gap-4 flex-wrap justify-content-center mb-4">
        <video src="~/GalaryPic/pump/video8.mp4" controls></video>
        <img src="~/GalaryPic/pump/pump1.png" alt="1" />
    </div>
    <div class="row imgcard d-flex gap-4 flex-wrap justify-content-center mb-4">
        <img src="~/GalaryPic/pump/pump2.png" alt="1" />
        <img src="~/GalaryPic/pump/pump3.png" alt="1" />
        <img src="~/GalaryPic/pump/pump4.png" alt="1" />
    </div>
    <div class="row imgcard d-flex gap-4 flex-wrap justify-content-center mb-4">
        <video src="~/GalaryPic/pump/video2.mp4" controls></video>
        <video src="~/GalaryPic/pump/video3.mp4" controls></video>
    </div>
    <div class="row imgcard d-flex gap-4 flex-wrap justify-content-center mb-4">
        <video src="~/GalaryPic/pump/video4.mp4" controls></video>
        <video src="~/GalaryPic/pump/video5.mp4" controls></video>
    </div>
    <div class="row imgcard d-flex gap-4 flex-wrap justify-content-center mb-4">
        <video src="~/GalaryPic/pump/video1.mp4" controls></video>
        <video src="~/GalaryPic/pump/video6.mp4" controls></video>
    </div>
    <div class="row imgcard d-flex gap-4 flex-wrap justify-content-center mb-4">
        <img src="~/GalaryPic/pump/pump5.png" alt="1" />
        <img src="~/GalaryPic/pump/pump6.png" alt="1" />
    </div>
</div>