@page
@model MumtazWelfare.Pages.NewFolder.RashanModel
@{
}

<h1 class="sadqa mb-58">Monthly Rashan</h1>

<div class="container">

    <div class="row imgcard d-flex gap-4 flex-wrap justify-content-center mb-4">
        <img src="~/GalaryPic/Rashan/Rashan1.jpg" alt="1" />
        <img src="~/GalaryPic/Rashan/Rashan2.jpg" alt="1" />
    </div>
</div>
