@page
@model MumtazWelfare.Pages.NewFolder.Sadqa_BakraModel
@{
}


<h1 class="sadqa mb-58">Sadqa Bakra</h1>

<div class="container">
    <div class="row imgcard d-flex gap-4 flex-wrap justify-content-center mb-4">
        <img src="~/GalaryPic/Sadqa Bakra/SaqdaBAkra.jpg" alt="1" />
        <img src="~/GalaryPic/Sadqa Bakra/BAKRA24.jpg" alt="1" />
        <img src="~/GalaryPic/Sadqa Bakra/SaqdaBAkra (1).jpg" alt="1" />
        <img src="~/GalaryPic/Sadqa Bakra/SaqdaBAkra (2).jpg" alt="1" />
    </div>
    <div class="row imgcard d-flex gap-4 flex-wrap justify-content-center mb-4">
        <img src="~/GalaryPic/Sadqa Bakra/sadqabakra.jpeg" alt="1" />
        <video src="~/GalaryPic/Sadqa Bakra/video12.mp4" controls></video>
    </div>
    <div class="row imgcard d-flex gap-4 flex-wrap justify-content-center mb-4">
        <img src="~/GalaryPic/Sadqa Bakra/sbk.jpeg" alt="1" />
        <img src="~/GalaryPic/Sadqa Bakra/sdqa.jpg" alt="1" />
    </div>
    <div class="row imgcard d-flex gap-4 flex-wrap justify-content-center mb-4">
        <img src="~/GalaryPic/Sadqa Bakra/sb.jpg" alt="1" />
        <img src="~/GalaryPic/Sadqa Bakra/sbk.jpeg" alt="1" />
    </div>
    <div class="row imgcard d-flex gap-4 flex-wrap justify-content-center mb-4">
        
        <img src="~/GalaryPic/Sadqa Bakra/sadqa bakrah.jpg" alt="1" />
        <img src="~/GalaryPic/Sadqa Bakra/Sadqa Bakra 2.png" alt="1" />
        <img src="~/GalaryPic/Sadqa Bakra/sadqa bakra2.jpg" alt="2" />
    </div>

    <div class="row imgcard d-flex gap-4 flex-wrap justify-content-center mb-4">
        <video src="~/GalaryPic/Sadqa Bakra/video9.mp4" controls></video>
        <video src="~/GalaryPic/Sadqa Bakra/video10.mp4" controls></video>
        <video src="~/GalaryPic/Sadqa Bakra/video11.mp4" controls></video>
        <img src="~/GalaryPic/Sadqa Bakra/Sadqa Bakra 1.png" alt="3" />
    </div>

    <div class="row imgcard d-flex gap-4 flex-wrap justify-content-center mb-4">
        <img src="~/GalaryPic/Sadqa Bakra/Sadqa Bakra 2.png" alt="1" />
        <img src="~/GalaryPic/Sadqa Bakra/Sadqa Bakra 3.png" alt="2" />
        <img src="~/GalaryPic/Sadqa Bakra/Sadqa Bakra 4.png" alt="3" />
    </div>

    <div class="row imgcard d-flex gap-4 flex-wrap justify-content-center mb-4">
        <video src="~/GalaryPic/Sadqa Bakra/video8.mp4" controls></video>
        <video src="~/GalaryPic/Sadqa Bakra/Sadqa bakra.mp4" controls></video>
        <video src="~/GalaryPic/Sadqa Bakra/video1.mp4" controls></video>
        <video src="~/GalaryPic/Sadqa Bakra/video7.mp4" controls alt="" />
    </div>

    <div class="row imgcard d-flex gap-4 flex-wrap justify-content-center mb-4">
        <img src="~/GalaryPic/Sadqa Bakra/Sadqa Bakra 5.png" alt="1" />
        <img src="~/GalaryPic/Sadqa Bakra/Sadqa Bakra 6.png" alt="2" />
        <img src="~/GalaryPic/Sadqa Bakra/Sadqa Bakra 7.png" alt="2" />
    </div>

    <div class="row imgcard d-flex gap-4 flex-wrap justify-content-center mb-4">
        <img src="~/GalaryPic/Sadqa Bakra/Sadqa Bakra 8.png" alt="1" />
        <img src="~/GalaryPic/Sadqa Bakra/Sadqa Bakra 9.png" alt="2" />
        <img src="~/GalaryPic/Sadqa Bakra/Sadqa Bakra 10.png" alt="2" />
    </div>

    <div class="row imgcard d-flex gap-4 flex-wrap justify-content-center mb-4">
        <img src="~/GalaryPic/Sadqa Bakra/Sadqa Bakra 11.png" alt="1" />
        <img src="~/GalaryPic/Sadqa Bakra/Sadqa Bakra 12.png" alt="2" />
        <img src="~/GalaryPic/Sadqa Bakra/Sadqa Bakra 13.png" alt="3" />
    </div>

    <div class="row imgcard d-flex gap-4 flex-wrap justify-content-center mb-4">
        <img src="~/GalaryPic/Sadqa Bakra/Sadqa Bakra 5feb.png" alt="1" />
        <img src="~/GalaryPic/Sadqa Bakra/Sadqa Bakra5feb.png" alt="2" />
        <img src="~/GalaryPic/Sadqa Bakra/Sadqa Bakra 19 jan.png" alt="3" />
    </div>

    <div class="row imgcard d-flex gap-4 flex-wrap justify-content-center mb-4">
        <video src="~/GalaryPic/Sadqa Bakra/video2.mp4" controls></video>
        <video src="~/GalaryPic/Sadqa Bakra/video3.mp4" controls></video>
    </div>

    <div class="row imgcard d-flex gap-4 flex-wrap justify-content-center mb-4">
        <img src="~/GalaryPic/Sadqa Bakra/Sadqa Bakra 22jan.png" alt="2" />
        <img src="~/GalaryPic/Sadqa Bakra/Sadqa Bakra 21jan.png" alt="2" />
        <img src="~/GalaryPic/Sadqa Bakra/Sadqa Bakra 20jan.png" alt="1" />
    </div>

    <div class="row imgcard d-flex gap-4 flex-wrap justify-content-center mb-4">
        <img src="~/GalaryPic/Sadqa Bakra/Sadqa Bakra 19jan.png" alt="2" />
        <img src="~/GalaryPic/Sadqa Bakra/Sadqa Bakra 19jan.png" alt="2" />
        <img src="~/GalaryPic/Sadqa Bakra/Sadqa Bakra 18jan.png" alt="1" />
    </div>

    <div class="row imgcard d-flex gap-4 flex-wrap justify-content-center mb-4">
        <img src="~/GalaryPic/Sadqa Bakra/Sadqa Bakra 12jan.png" alt="2" />
        <img src="~/GalaryPic/Sadqa Bakra/Sadqa Bakra 23dec.png" alt="2" />
        <img src="~/GalaryPic/Sadqa Bakra/Sadqa Bakra 22dec.png" alt="2" />
    </div>
    <div class="row imgcard d-flex gap-4 flex-wrap justify-content-center mb-4">
        <video src="~/GalaryPic/Sadqa Bakra/video4.mp4" controls></video>
        <video src="~/GalaryPic/Sadqa Bakra/video5.mp4" controls></video>
    </div>

    <div class="row imgcard d-flex gap-4 flex-wrap justify-content-center mb-4">
        <img src="~/GalaryPic/Sadqa Bakra/Sadqa Bakra 21dec.png" alt="2" />
        <img src="~/GalaryPic/Sadqa Bakra/Sadqa Bakra 20dec.png" alt="2" />
        <img src="~/GalaryPic/Sadqa Bakra/Sadqa Bakra 19dec.png" alt="2" />
    </div>

    <div class="row imgcard d-flex gap-4 flex-wrap justify-content-center mb-4">
        <img src="~/GalaryPic/Sadqa Bakra/Sadqa Bakra 8dec.png" alt="2" />
        <img src="~/GalaryPic/Sadqa Bakra/Sadqa Bakra 6dec.png" alt="2" />
        <img src="~/GalaryPic/Sadqa Bakra/Sadqa Bakra 9 nov.png" alt="2" />
    </div>

    <div class="row imgcard d-flex gap-4 flex-wrap justify-content-center mb-4">
        <img src="~/GalaryPic/Sadqa Bakra/Sadqa Bakra 9nov.png" alt="2" />
        <img src="~/GalaryPic/Sadqa Bakra/Sadqa Bakra 9novmbr.png" alt="2" />
        <video src="~/GalaryPic/Sadqa Bakra/video6.mp4" controls></video>
    </div>

</div>