<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mumtaz</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="" asp-append-version="true" />
    <link rel="stylesheet" href="~/Mumtaz.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow p-0">
            <div class="container-fluid" style="background: rgb(200, 180, 140); color:rgb(34, 60, 97);">
                <a class="navbar-brand" asp-page="/Index"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1" style="display: contents; margin-top:4px; margin-bottom:4px">
                        <img src="./GalaryPic/welfare (4).jpg" style="border-radius: 40%; height:" 120vh"; width="50px" ; alt="" />

                        <li class="nav-item">
                            <a href="./" class="nav-link active">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="./NewFolder/About" class="nav-link active">About</a>

                        </li>
                        <li class="nav-item">
                            <a href="./NewFolder/gallery" class="nav-link active">Gallery</a>

                        </li>
                        <li class="nav-item">
                            <a href="./NewFolder/Review" class="nav-link active">Review</a>
                        </li>
                        <li class="nav-item">
                            <a href="./NewFolder/ContactUs" class="nav-link active">Contact Us</a>
                        </li>
                    </ul>
                    <button type="button" class="btn btn-primary" onclick="window.location.href='';">
                        Archived
                    </button>
                    <button type="button" class="btn btn-primary" onclick="window.location.href='https://donate.mumtazwelfare.org/';">
                        Donate Now
                    </button>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="bg-dark text-white pt-0 pb-0">

        <div class="container text-center text-md-left">
            <div class="row text-center text-md-left">
                
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Quick Links</h5>
                    <p>
                        <i class="bi bi-arrow-right-short"></i>  Home

                    </p>
                    <p>
                        <i class="bi bi-arrow-right-short"></i>  About
                    </p>
                    <p>
                        <i class="bi bi-arrow-right-short"></i>  Gallery
                    </p>
                    <p>
                        <i class="bi bi-arrow-right-short"></i>  Review
                    </p>
                    <p>
                        <i class="bi bi-arrow-right-short"></i>  Contact Us
                    </p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Account</h5>
                    <p>
                        <a href="#" class="text-white" style="text-decoration:none;">
                            <img src="./GalaryPic/JS BANK logo.jpg" style=height:"120vh"; alt="JS BANK" width="100px">
                        </a>
                    </p>
                    <p>
                        <a href="#" class="text-white" style="text-decoration:none;">ACC NO: 9606-1528035</a>
                    </p>
                    <p>
                        <a href="#" class="text-white" style="text-decoration:none;">IBAN: PK88 JSBL 9606 0000 0152 8035</a>
                    </p>
                    
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Contact</h5>
                    
                    <p>
                        <a href="https://wa.me/qr/XV3Z5SZHCQH7A1" class="text-white" style="font-size: 15px" ;>
                            <i class="bi bi-whatsapp"></i>
                            +92 347 9270155
                        </a>
                    </p>
                    <p>
                        <a href="https://www.facebook.com/Mumtazwelfare.pk" class="text-white" style="font-size: 14px";>
                            <i class="bi bi-facebook"></i>
                         MUMTAZWELFARE.PK    
                    </a>
                    </p>
                    <p>
                        <a href="https://www.instagram.com/mumtaz_welfare/" class=" text-white" style="font-size: 15px" ;>
                            <i class="bi bi-instagram"></i>
                            mumtaz_welfare
                        </a>
                    </p>
                    <p>
                        <a href="" class=" text-white" style="font-size: 15px" ;>
                            <i class="bi bi-envelope"></i>
                            waqarhanif1985@gmail.com
                        </a>
                    </p>
                    <p>
                        <a href="" class=" text-white" style="font-size: 15px" ;>
                            <i class="bi bi-telephone"></i>
                            0321-2070155  &  0347-9270155
                        </a>
                    </p>


                </div>
            </div>

            <hr class="mb-4">

            <div class="row align-items-center">
                <div class="col-md-7 col-lg-8">
                    <p style="text-align:right">Copyright 2023 
                        <a href="https://www.mumtazwelfare.org/" style="text-decoration:none;">
                            <strong class="text-warning">Mumtaz Welfare Foundation</strong>
                        </a>
                    </p>
                </div>

                <div class="col-md-5 col-lg-4">
                    <div class="text-center text-md-right">

                        <ul class="list-unstyled list-inline">
                            <li class="list-inline-item">
                                <a href="https://wa.me/qr/XV3Z5SZHCQH7A1" class="btn-floating btn-sm text-white" style="font-size: 23px;">
                                    <i class="bi bi-whatsapp"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.facebook.com/Mumtazwelfare.pk" class="btn-floating btn-sm text-white" style="font-size: 23px;">
                                    <i class="bi bi-facebook"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.instagram.com/mumtaz_welfare/" class="btn-floating btn-sm text-white" style="font-size: 23px;">
                                    <i class="bi bi-instagram"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="" class="btn-floating btn-sm text-white" style="font-size: 23px;">
                                    <i class="bi bi-envelope"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
         </div>
         
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>